

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

@font-face {
    font-family: my-font;
    src: url(./fonts/CroissantOne-Regular.ttf);
}
@font-face {
    font-family: my-font-1;
    src: url(./fonts/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: my-font-2;
    src: url(./fonts/Norse-Bold.otf);
}

body{
    display: flex;
    justify-content: center;
}

#main{
    display: flex;
    position: relative;
    width: 90%;
    justify-content: center;
}
.image-content{
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
img{
    width: auto;
    position: relative;
    height: 100%;
    width: auto;
}
.logo_text{
    position: absolute;
    color: white;
    font-family: my-font, sans-serif;
    font-size: 5.5vw;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;
    background-color: rgba(9, 7, 7, 0.5);
    top: 4rem;
    height: auto;
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 2px  black;
    display: flex;
    justify-content: center;
}
.logo_text::before{
    content: url(./accessibility-outline.svg);
    font-size: auto;
    background-color: red;
    width: 5vw;
}

.photo_credit{
    position: absolute;
    bottom: 0;
    color: white;
    bottom: 0.5rem;
}

.content{
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
    margin-left: 1px;
}
.text{
    background: linear-gradient(40deg,  rgba(239, 238, 238, 0.631) 30%,
     rgb(255, 255, 255) 100% );
    height: 33vh;
    font-size: calc(16px + 0.4vw);
    font-weight: bold;
    overflow: scroll;
    padding-left: 30px;
    width: auto;
}
.text p{
    max-width: 80%;
    margin-top: 30px;
    max-width: 80%;
}
form{
    margin-top: 12px;
    height: 66vh;
    display: flex;
    flex-direction: column; 
    overflow: scroll;
}
fieldset{
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    border: none;
    height: 60%;
}
legend{
    font-size: 1.3rem;
    margin-left: 20px;
    padding-top: 2rem;
}
label{
    font-size: 1.1rem;
}
input{
    height: 1.4rem;
    font-size: 1.1rem;
    border: 1px solid gray;
    margin-right: 10px;

}
input:focus{
    background: rgb(136, 245, 180);
}
input:hover{
    
    border-color: red;
}
fieldset ul{
    margin-right: 50px;
    margin-bottom: 10px;
}

ul{
    box-sizing:content-box;
    display: flex;
    margin-top: 1px;
    margin-left: 10px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
}
li{
    list-style: none;
    width: 10em;
    margin: 3px;
}
.submit{
    background: linear-gradient(40deg,  rgba(225, 225, 225, 0.613) 30%,
    rgb(255, 255, 255) 100% );
    padding: 30px;
    height: 40%;
    padding-left: 30px;
    width: auto;

}
button{
    background-color: rgb(60, 109, 60);
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 10rem;
    height: 2.5rem;
}